:root{
  --header-dark-color: rgb(56, 57, 64);
  --header-light-color: rgb(146, 210, 210);
  --content-font-color: rgb(78, 108, 108);
  --content-bg: rgb(201, 229, 229);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: var(--header-dark-color);
  color: var(--header-dark-color);
}

a{
  text-decoration: none;
}

header a {
  color: var(--header-light-color);
  border-bottom: solid var(--header-light-color);
  padding: 0px 0.5em;
}

a h3
{
  background-color: var(--header-light-color);
  color: var(--header-dark-color);
  margin-bottom: 1em;
  padding: 0.25em;
}

h3 p
{
  margin: 0;
  font-size: 0.75em;
}

h1{
  padding-left: 50px;
  padding-right: 10px;
  margin-top: -8px;
  margin-bottom: 10px;
  background-color: var(--header-light-color);
}

.hero-banner
{
  position: relative;
  background-image: url("../images/02-hero-bg.jpg");
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgba(68, 155, 212, 0.5); */
  /* background-blend-mode: multiply; */
  margin: 0;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-banner::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 150, 255, 0.3) 0%,
    rgba(0, 150, 255, 0.6) 100%);
}

.hero-caption
{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  background-color: var(--header-light-color);
  margin-bottom: 20px;
  margin-right: 75px;
  z-index: 1;
}

.hero-caption h2{
  width: fit-content;
  border-right: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}

header nav{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 20px;
}

main h2{
  padding-right: 10px;
  margin: 0px 30px;
  flex-basis: 20%;
  text-align: end;
  min-width: 125px;
  max-width: 150px;
  height: auto;
  font-size: 32px;
  border-right: solid var(--content-font-color);
  
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(--content-font-color);
}

.content{
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* flex: 1; */
  margin: 30px 0px;
}

#about-content, #work-content, #contact-content{
  max-width: 75vw;
  height: 100%;
  /* height: inherit; */
  /* padding-left: 30px; */
  /* border-left: solid var(--content-font-color); */
  margin: 0;
}

#contact-content{
  padding: 0;
}

.contact-type{
  border-bottom: solid var(--content-font-color);
  color: var(--content-font-color);
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
}

.grid_work{
  display: grid;
  width: 75%;
  gap: 1rem;
  grid-template-areas: 
  "python python"
  "art uni"
  "placeholder-1 placeholder-2"
  ;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr
}

.python{
  grid-area: python;
}

.art{
  grid-area: art;
}

.uni{
  grid-area: uni;
}

.placeholder-1{
  grid-area: placeholder-1;
}

.placeholder-2{
  grid-area: placeholder-2;
}

/* .python, .art, .uni */.work-content {
  border: solid 0.2em var(--header-light-color);
  background-color: var(--content-bg);
}

.python-img {
  /* height: 300px;
  width: 500px;
  max-width: 75vw; */
  background-image: url(https://logos-download.com/wp-content/uploads/2016/10/Python_logo_icon-700x697.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.art-img {
  background-image: url(https://cdn.crevado.com/images/crevado-logo-new.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.uni-img {
  /* background-image: url(https://imgs.search.brave.com/YLC4yXSfvq-f1gXIKzikoWk7jRqw4G8zpNbdH3KOX3E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2QyL0NfU2hhcnBf/TG9nb18yMDIzLnN2/Zw.svg); */
  background-image: url(https://imgs.search.brave.com/lulNEwSlzvRcRIDLkWjX9inyeIbVZZ3bR8DAPPxEDR4/rs:fit:560:320:1/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9jL2M0L1Vu/aXR5XzIwMjEuc3Zn/LzUxMnB4LVVuaXR5/XzIwMjEuc3ZnLnBu/Zw);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.hr-img {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%230E141E;%7D .st1%7Bfill:%23FFFFFF;%7D .st2%7Bfill:%2300EA64;%7D%0A%3C/style%3E%3Crect x='0' y='0' class='st0' width='256' height='256'/%3E%3Cg%3E%3Cpath class='st1' d='M125.39,85.35h-19.26c-0.65,0-1.18,0.53-1.18,1.18v30.61H84.2V86.54c0-0.65-0.53-1.18-1.18-1.18H63.76 c-0.65,0-1.18,0.53-1.18,1.18v82.85c0,0.65,0.53,1.18,1.18,1.18h19.26c0.65,0,1.18-0.53,1.18-1.18v-30.61h20.75v30.61 c0,0.65,0.53,1.18,1.18,1.18h19.26c0.65,0,1.18-0.53,1.18-1.18V86.54C126.57,85.88,126.04,85.35,125.39,85.35z'/%3E%3Cpath class='st2' d='M199.76,170.57h-61.64c-0.65,0-1.18-0.53-1.18-1.18V86.53c0-0.65,0.53-1.18,1.18-1.18h61.64 c0.65,0,1.18,0.53,1.18,1.18v82.85C200.94,170.04,200.41,170.57,199.76,170.57z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.lt-img {
  background-image: url(https://logos-world.net/wp-content/uploads/2022/12/Linktree-Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

main nav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  list-style: none;
  padding: 0;
}

.number{
  line-height: 1.1;
  font-size: 14px;
}