* {
  box-sizing: border-box;
  border: 1px solid;
  border-color: red;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.hero-banner
{
  background-image: url("../images/02-hero-bg.jpg");
  height: 15vh;

}
/* 
.hero-banner {
  display: flex;
}

.hero-banner h2 {
  justify-content: flex-end;
  align-items: flex-end;
} */

.flex-container {
  display: flex;
}

.flex-BRcorner {
  justify-content: flex-end;
  align-items: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
